# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
.vscode/

# Android
mobile_app/android/
mobile_app/ios/
mobile_app/linux/
mobile_app/macos/
mobile_app/windows/

# Divers
*.log
.DS_Store
